* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-gradient: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  --main-color: #2da8d8;
  --secondary-background: #2a2a2d;
  --system-color: #0f1319;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.parallaxContainer::-webkit-scrollbar {
  width: 0.5rem;
}

.parallaxContainer::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.parallaxContainer::-webkit-scrollbar-track {
  background-color: var(--secondary-background);
}

#root {
  min-height: 100%;
  width: 100%;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem !important;
  font-weight: 600;
}
